ol {
    list-style-type: none;
    padding: 0;
}

ol.directory-listing {
    display: flex;
    flex-direction: column;
}

ol.single-letter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
ol.single-letter::before {
    content: attr(data-letter);
    font-size: x-large;
}

.back {
    color: var(--accent-colour);
}

.entry {
/*    position: relative;  /* Needed for the ::after effects to work */

    padding: 1ex;

    vertical-align: middle;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.entry.directory {
    font-weight: bold;
}

.entry a {
    position: relative;
    display: block;
}

.entry:hover img {
    opacity: 0.5;
}
.entry:hover a::after {
    content: attr(data-filename);
    position: absolute;

    background-color: var(--accent-colour);
    padding: 1ex; border-radius: 1ex;
    opacity: 0.9;

    top: 50%; left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.entry:hover a:visited::after {
    /* FIXME: This is stupid & ugly (but functional) fix it!*/
    background-color: blue;
    color: var(--accent-colour);
}
