#video-container {
    /* Fill the window, use black-borders */
    position: fixed;
    width: 100%;
    height: 100%;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: black;
}
#video-player {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    z-index: 5
}
#video-controls {
    position: absolute;
    width: 100%;
    height: 5%;
    left: 0;
    bottom: 0;

    z-index: 10
}
#seek-bar {
    width: 50%;
}
